body {
  background-color: #81DAF5;
  font-family: Roman;
  text-align: center;
}



h1 {
	color: #F7FE2E;
	font-size: 400%;
    float: center;

	
}

h2 {
	color: #CC0000;
	font-size: 200%;
    float: left;
		
}

.imgLeft{
	position: absolute;
	float: left;
	margin-top: -10px;

}

.imgRight{
	position: relative;
	float: right;
	margin-top: -130px;
}


.founderLeft{
	position: relative;
	float: left;
	margin-top: -530px;
	background-color: "gray";
}

.founderRight {
	position: relative;
	float: right;
	margin-top: -530px;
	background-color: "gray";
}


.founderKevin {
	position: relative;
	float: left;
	margin-top: -230px;
}

.founderAlex {
	position: relative;
	float: right;
	margin-top: -230px;
}

button {
	margin: 5px;
	padding: 5px;
	border: solid 5px black; 
	border-radius: 10px;
	font-size: 120%;
	width: 12%;
	background: linear-gradient(50deg, #F7FE2E, #81DAF5);
	color: black;
	tansition-duration: 0.4s;
}

button:hover {
	background: linear-gradient(50deg, #00437D, #63A9E6);
	color: yellow;
}

#nav .selected {
	font-weight: bold;
}
	


