body {
  background-color: #81DAF5;
  font-family: Roman;
  text-align: center;
}



h1 {
	color: #F7FE2E;
	font-size: 400%;
    float: center;
	
	
}

.imgLeft{
	position: absolute;
	float: left;
	margin-top: -10px;

}

.imgRight{
	position: relative;
	float: right;
	margin-top: -130px;
}

button {
	margin: 5px;
	padding: 5px;
	border: solid 5px black; 
	border-radius: 10px;
	font-size: 120%;
	width: 12%;
	background-color: yellow;
	color: black;
	tansition-duration: 0.4s;
}

button:hover {
	background-color: darkblue;
	color: yellow;
}

#nav .selected {
	font-weight: bold;
}
	


